<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="BearerTokenAuthentication">
    <Parameter Name="Audience" Value="__Audience__" />
    <Parameter Name="Authority" Value="__Authority__" />
    <Parameter Name="Issuer" Value="__Issuer__" />
    <Parameter Name="ValidAudiences" Value="__ValidAudiences__" />
  </Section>
  <Section Name="EnvironmentConfiguration">
    <Parameter Name="XRMInstanceApiUrl" Value="__XRMInstanceApiUrl__" />
    <Parameter Name="XRMEnvironment" Value="__XRMEnvironment__" />
    <Parameter Name="FalconDatabaseId" Value="__FalconDatabaseId__" />
    <Parameter Name="FalconIVContainerId" Value="__FalconIVContainerId__" />
    <Parameter Name="FalconCommonContainerId" Value="__FalconCommonContainerId__" />
  </Section>
  <Section Name="CorsSetting">
    <Parameter Name="AccessControlAllowMethods" Value="OPTIONS, GET, POST, PUT, DELETE, PATCH"/>
    <Parameter Name="AccessControlAllowHeaders" Value="accept, content-type, authorization, x-ms-activity-vector, x-ms-root-activity-id, x-ms-session-id, x-ms-environment-id, x-ms-environment-mode, x-ms-on-behalf-user-id"/>
    <Parameter Name="AccessControlAllowOrigin" Value="*"/>
  </Section>
  <Section Name="LoggingConfiguration">
    <Parameter Name="InstrumentationKey" Value="__InstrumentationKey__" />
  </Section>
  <Section Name="PAFConfiguration">
    <Parameter Name="PafAppName" Value="__PafAppName__" />
    <Parameter Name="PAFResource" Value="__PAFResource__" />
    <Parameter Name="PafServiceUrl" Value="__PafServiceUrl__" />
    <Parameter Name="PafServiceVersion" Value="__PafServiceVersion__" />
    <Parameter Name="Tenant" Value="__Tenant__" />
  </Section>
  <Section Name="DocumentDBStorageConfiguration">
    <Parameter Name="ConnectionStringSecretName" Value="DocDbConnectionString" />
    <Parameter Name="KeyVaultUri" Value="__KeyVaultUri__" />
    <Parameter Name="DatabaseId" Value="GTA" />
    <Parameter Name="CommonContainerId" Value="GTACommon" />
    <Parameter Name="IVScheduleContainerId" Value="GTAIVSchedule" />
    <Parameter Name="IVScheduleHistoryContainerID" Value="GTAIVScheduleHistory"/>
    <Parameter Name="NumberOfDocumentsReturned" Value="50" />
    <Parameter Name="ResponseUnitsPerSecond" Value="400" />
  </Section>
  <Section Name="AADClientConfiguration">
    <Parameter Name="ClientId" Value="__Audience__"/>
    <Parameter Name="AADInstance" Value="https://login.windows.net/{0}" />
    <Parameter Name="ClientCertificateThumbprints" Value="__AzureADClientCertThumbPrint__" />
    <Parameter Name="ClientCredential" Value="GTAReferAADAppSecret" />
    <Parameter Name="XRMResource" Value="__XRMInstanceApiUrl__" />
    <Parameter Name="TenantID" Value="__TenantID__" />
  </Section>
  <Section Name="SchedulerConfiguration">
    <Parameter Name="EmailAddress" Value="SchedulerUserName" />
    <Parameter Name="UserProfileEmailAddress" Value="__SchedulerServiceUserAccount__" />
    <Parameter Name="FreeBusyEmailAddress" Value="__SchedulerServiceFreeBusyAccount__" />
    <Parameter Name="NativeClientAppId" Value="57eb1b17-c7f1-4433-b119-8cf3c67451ef"/>
    <Parameter Name="SchedulerEmailPasswordSecret" Value="SchedulerEmailsPasswords" />
  </Section>
  <Section Name="MsGraphSetting">
    <Parameter Name="GraphTenant" Value="common"/>
    <Parameter Name="ClientId" Value="57eb1b17-c7f1-4433-b119-8cf3c67451ef"/>
    <Parameter Name="AADInstance" Value="https://login.windows.net/{0}"/>
    <Parameter Name="GraphResourceId" Value="https://graph.microsoft.com"/>
    <Parameter Name="GraphBaseUrl" Value="https://graph.microsoft.com/v1.0"/>
    <Parameter Name="AADGraphResourceId" Value="https://graph.windows.net"/>
    <Parameter Name="AADGraphBaseUrl" Value="https://graph.windows.net"/>
    <Parameter Name="AADGraphTenantTakeOverUrl" Value="/{0}/users/{1}?api-version=1.5"/>
    <Parameter Name="CertThumbPrint" Value="1e7f2ffdc86efe463681970d0a714bc35a7cbc4b"/>
    <Parameter Name="NotificationUrl" Value="https://msgtascheduleservicedev.azurewebsites.net/v1/notification/listenNotification"/>
    <Parameter Name="ClientCredential" Value="__GraphClientCredential__"/>
  </Section>
  <Section Name="GTA:ServicePlatform:AzureActiveDirectoryClientConfiguration">
    <Parameter Name="Authority" Value="https://login.windows.net/microsoft.onmicrosoft.com/" />
    <Parameter Name="ClientId" Value="__Audience__"/>
    <Parameter Name="ClientCertificateThumbprints" Value="__AzureADClientCertThumbPrint__" />
    <Parameter Name="ClientCertificateStoreLocation" Value="CurrentUser" />
  </Section>
  <Section Name="KeyVaultConfiguration">
    <Parameter Name="KeyVaultUri" Value="__KeyVaultUri__" />
  </Section>
  <Section Name="MsGraphRedisCacheConfiguration">
    <Parameter Name="RedisKeyNamespace" Value="HCMCommonMSGraph" />
    <Parameter Name="EnableMemoryCache" Value="true" />
    <Parameter Name="RedisSynchronizationChannelName" Value="HCMSyncChannel" />
    <Parameter Name="RedisSecretName" Value="RedisCachePrimaryKey" />
    <Parameter Name="SynchronizeChanges" Value="false" />
    <Parameter Name="CacheLifeTimeInMinutes" Value="1440"/>
    <Parameter Name="EnableMSGraphRedisCache" Value="false"/>
    <Parameter Name="MemoryCacheSizeInMB" Value="20"/>
    <Parameter Name="ApplicationName" Value="ScheduleService"/>
  </Section>
  <Section Name="EnvironmentNameConfiguration">
    <Parameter Name="EnvironmentName" Value="__EnvironmentName__" />
  </Section>
  <Section Name="Environment">
    <Parameter Name="Name" Value="__EnvironmentName__" />
    <Parameter Name="IsConsoleApp" Value="true" />
  </Section>
  <Section Name="RunnerServiceSetting">
    <Parameter Name="EnvironmentIdForRunnerService" Value="" />
  </Section>
  <Section Name="ServiceBusClientConfigration">
    <Parameter Name="KeyVaultUri" Value="https://hrgtakeyvault-dev.vault.azure.net/"/>
    <Parameter Name="ServiceBusConnectionString" Value="ScheduleServiceBusConnectionString" />
    <Parameter Name="ExportServiceBusQueueName" Value="invitationmail" />
  </Section>
  <Section Name="RedisCacheConfiguration">
    <Parameter Name="RedisCacheConnectionString" Value="RedisCacheConnectionString"/>
  </Section>
</Settings>