<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\src\packages" /> 
    <add key="globalPackagesFolder" value=".\src\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="HR-GTA-CandidateAssessment" value="https://microsoftit.pkgs.visualstudio.com/OneITVSO/_packaging/HR-GTA-CandidateAssessment/nuget/v3/index.json" />
  </packageSources>
</configuration>