<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\src\packages" /> 
    <add key="globalPackagesFolder" value=".\src\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="NugetOrg" value="https://api.nuget.org/v3/index.json" />
	<add key="github" value="https://nuget.pkg.github.com/microsoft/index.json" />
  </packageSources>
  <packageSourceCredentials>
		<github>
			<add key="Username" value="suhas.2ab@gmail.com" />
			<add key="ClearTextPassword" value="c9514cdaa3bf8d811ac2f41681fcd3aee1513680" />
		</github>
  </packageSourceCredentials>
</configuration>