<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="AadApplicationId" value="0be582bb-4f30-4a13-a862-286166e2fb73" />
    <Parameter name="ClientCertificateSecretUrl" value="https://d365-akv-hcm-master-dev.vault.azure.net/secrets/FirstPartyAadAppCertificate1" />
    <Parameter name="ClientCertificateSecretPwdUrl" value="https://d365-akv-hcm-master-dev.vault.azure.net/secrets/FirstPartyAadAppCertificate1Pwd" />
    <Parameter name="ApplicationName" value="" />
    <Parameter name="ClusterUrl" value="" />
    <Parameter name="AadApplicationKey" value="" />
  </TestRunParameters>
</RunSettings>