<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\src\packages" /> 
    <add key="globalPackagesFolder" value=".\src\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="NugetOrg" value="https://api.nuget.org/v3/index.json" />
    <add key="MicrosoftIT" value="https://microsoftit.pkgs.visualstudio.com/DefaultCollection/_packaging/MicrosoftIT/nuget/v3/index.json" />
    <add key="SkypeCSC" value="https://skype.pkgs.visualstudio.com/DefaultCollection/_packaging/csc/nuget/v3/index.json" />
    <add key="SkypeTPS" value="https://skype.pkgs.visualstudio.com/DefaultCollection/_packaging/tps/nuget/v3/index.json" />
  </packageSources> 
</configuration>